.pagination {
  text-align: center;
  padding: 5rem 0;
}
.pagination span {
  padding: 1rem;
  background-color: white;
  border-right: 1px solid rgb(238, 234, 234);
  cursor: pointer;
}

.pagination span > .link {
  color: rgb(7, 6, 6);
  text-decoration: none;
}
.pagination span:hover {
  background-color: rgb(253, 77, 159);
  color: white;
}

.pagination .active {
  background-color: rgb(245, 40, 136);
  color: white;
}
