.topic {
  border: 2px solid rgb(226, 166, 166);
  padding: 0.5rem;
  width: 100%;
  margin: 2rem 0;
}

.topic h2 {
  font-weight: 400;
  color: rgb(97, 96, 96);
  text-align: center;
  color: rgb(16, 16, 158);
}

.topic .link {
  text-decoration: none;
  cursor: pointer;
}

@media (max-width: 700px) {
  .topic h2 {
    font-weight: 400;
    color: rgb(97, 96, 96);
    font-size: 1.1rem;
  }
}
